[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
selenium = "*"
bs4 = "*"
django-q = "*"
psycopg2 = "*"
django-cors-headers = "*"
mysqlclient = "*"
celery = "==4.3"
django-redis = "*"

[dev-packages]

[requires]
python_version = "3.9"
